
.adminDash-title{
	text-align:center;
	font-size: 30px;
	margin-bottom: 2%;
	color: #200f80;
}

.adminDash-divid {
	width: 85%;
	margin-left:auto;
	margin-right:auto;
	border-color: #45538c;
	border-width: 3px;
}

.adminDash-subtitle {
	width: 85%;
	text-align:left;
	margin: 1% auto 0.6% auto;
	font-size: 20px;
	color: #200f80;
}
.admin-table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.admin-header{
    background-color: #046A8F;
    color: white;
}

#ad-update {
    background-color:#095699;
    color: white;
    padding: 7px;
    margin-right: 7px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#ad-delete {
    background-color:#095699;
    color: white;
    padding: 7px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#ad-update:hover {
    background-color:#60A8F0;
    color: black;
}

#ad-delete:hover {
    background-color: #60A8F0;
}

.admin-buttons {
    padding: 4px;
    
}

.admin-button {
    display: flex;
    justify-content: center;
}

.admin-button a {
    text-decoration: none;
}

.top-button {
	margin-top: 2%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.top-button button{
	width: 30%;
	height: 50px;
	margin-right: 2%;
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	background-color: #095699;
}