
.lecDash-content h2{
	text-align: center;
	margin-bottom: 4%;
}

#btnCourseCreate {
	display: inline-block;
	width: 15%;
	margin-left: 85%;
	padding: 2%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

#btnCourseCreate:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}
#btnadduser {
	display: inline-block;
	width: 10%;
	margin-left: 8%;
	margin-bottom: 1%;
	padding: 0.5%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: 700;
	cursor: pointer;
}

#btnadduser:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

.lecDash_table{
	width:85%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
	border-collapse: collapse;
	border-color: #45538c;
	border-width: 3px;
}

.lecDash_table a{
	text-decoration: none;
}

.lecDash_table td{
    padding-left: 0.2%;
	font-size: 14px;
}

.lecDash-buttons{
	display:block;
	width:92%;
	margin: 2% auto 2% 1%;
	justify-content: center;
}

#lecDash-up{
	display: inline-block;
	width: 50%;
	padding: 3%;
    margin-right: 1.8%;
	background-color: #095699;
	border:none;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

#lecDash-up:hover{
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

#lecDash-delete{
	display: inline-block;
	width: 70;
	padding: 3%;
	background-color: #095699;
	border:none;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

#lecDash-delete:hover{
	transition: all 0.3s ease;
	background-color: #2d72eb;
}