.login-box {
	margin: 1% auto 5% auto;
	width: 25%;
	border: 2px solid #ccc;
	padding: 2% 2% 6% 2%;
	background: #fff;
	border-radius: 15px;
}

.login-box h2 {
	text-align: center;
	margin-bottom: 40px;
}

.login-box input[type="text"] {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 2px;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
}

.login-box input[type="password"] {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 2px;
	border-radius: 5px;
	font-size: 16px;
	padding: 4px;
}

.login-box label {
	color: #200f80;
	font-size: 18px;
	font-weight: 500;
}

.login-box input[type="submit"] {
	width: 100%;
	float: right;
	background: #095699;
	padding: 3% 10%;
	color: #fff;
	font-size: 16px;
	border-radius: 20px;
	border: none;
}
.login-box button:hover{
	opacity: .7;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.login-box h1 {
	text-align: center;
	color: #fff;
}

.login-box a {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
	text-decoration: none;
}
.login-box a:hover{
	opacity: .7;
}