/* all website */
* {
	margin: 0;
	padding: 0;
	font-family: Roboto, Sans-serif;	
}

body {
	min-width:500px;
	background-color: #dcedfc;
}

/* website header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 4%;
}

.header-logo {
	width: clamp(75px, 10%, 100px);
	margin-right: 2%;
}

.header-nav {
	display: flex;
	align-items: center;
	min-width: 400px;
	width: 75%;
	height: 50px;
	background-color: #046a8f;
	border-radius: 40px;
	margin-right: 2%;
	padding-left: 6%;
	padding-right: 6%;
}

.nav-links {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.nav-links li {
	display: inline-block;
}

.nav-links li a{
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 40px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;	
}

.nav-links li:hover{
	color: #ffff;
	background-color: #061a40;
	border-radius: 20px;
	padding-left: 6%;
	padding-right: 6%;
	transition: all 0.3s ease;
}

.header-btns {
	min-width: 300px; 
	height: 50px;
}

.header-btn {	
	width: 45%;
	height: 50px;
	margin-right: 2%;
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

#btnCart {
	background-color: #35bfc4;
}

#btnCart:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

#btnLog {
	background-color: #60a8f0;
}

#btnLog:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

#btnReg {
	background-color: #095699;
}

#btnReg:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

#btnMyAcc {
	background-color: #60a8f0;
}

#btnMyAcc:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

#btnLogOut {
	background-color: #095699;
}

#btnLogOut:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}


/* ----------- website footer -------------- */
.footer {
	background-color: #003559;
	padding: 70px 0;
}

.footer-container {
	max-width: 1170px;
	margin: auto;
}

.footer-row {
	display: flex;
	flex-wrap: wrap;
}

.footer-ul {
	list-style: none;
}

.footer-col {
	box-sizing: border-box;
	width: 25%;
	padding: 0 25px;
	line-height: 1.5;
}

.footer-logo {
	width: 60px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 30px;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #48f4f7;
	height: 2px;
	width: 80px;
}

.footer-col h5{
	font-size: 18px;
	color: #ffffff;
	position: relative;
}

.footer-col p{
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 30px;
	position: relative;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li {
	text-decoration: none;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a{
	color: #ffffff;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	background-color: #2d72eb;
	padding: 6px 15px 6px 20px;
	border-radius: 40px;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin-right: 10px;
	text-align:center;
	line-height: 40px;
	border-radius: 50px;
	color: white;
	transition: all 0.3s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: white;
}

@media(max-width: 970px){
	header {
		display: block;
	}
	
	.header-logo {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 90px;
		margin-bottom: 2%;
	}

	.header-nav {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2%;
	}
	
	.header-btns {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
		height: 50px;
	}
	
	.footer-col {
		width: 50%;
		margin-bottom: 50px;
	}	
}

@media(max-width: 575px){
	.footer-col {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		
	}
}

/* ----------- home page intro -------------- */
.home-title h2{
	text-align:center;
	font-size: 40px;
	margin-bottom: 2%;
	color: #200f80;
}

.home-title h3{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	margin-bottom: 2%;
	color: #250eab;
}

.h-introClassDivider {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-color: #45538c;
	border-width: 4px;
	margin-bottom: 3%;
}

/* ----------- home page courses -------------- */

.h-c-table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	margin-bottom: 5%;	
}

.h-c-data {
	width: 20%;
	border-color: #45538c;
	border-width: 3px;
	padding: 1%;
}

.h-c-data h4{
	text-align: center;
	font-size: 20px;
	color: #0e2fb5;
	margin-bottom: 4%;
}	


.h-c-data img{
	width: 100%;
}

.h-c-data p{
	text-align: center;
	color: #3148a3;
}

.h-c-data button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	margin-top: 5%;
	padding: 5%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

.h-c-data button:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

/* ----------- learner register page -------------- */

.lrnReg-title{
	text-align:center;
	font-size: 30px;
	margin-bottom: 2%;
	color: #200f80;
}

.lrnReg-table {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	margin-bottom: 5%;	
	border-color: #45538c;
	border-width: 3px;
}

.lrnReg-table-label {
	width: 18%;
	padding: 2% 1%;
}

.lrnReg-table-input {
	width: 32%;
	font-size: 18px;
	padding: 0.5%;
}

.lrnReg-table-label p{
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
}

.lrnReg-table-input select{
	width:100%;
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
	padding: 0.5%;
}

.lrnReg-table-input input[type=text]{
	width:98%;
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
	padding: 0.5%;
}

.lrnReg-table-input input[type=password]{
	width:98%;	
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
	padding: 0.5%;
}

.lrnReg-table-input input[type=date]{
	width:60%;
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
	padding: 0.5%;
}

.lrnReg-table-input input[type=submit]{
	display: inline-block;
	width: 35%;
	margin-left: 1.5%;
	padding: 3%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	background-color: #095699;
}

.lrnReg-table-input input[type=submit]:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}


/* ----------- support agent dashboard -------------- */

.saDash-title{
	text-align:center;
	font-size: 30px;
	margin-bottom: 2%;
	color: #200f80;
}

.saDash-divid {
	width: 85%;
	margin-left:auto;
	margin-right:auto;
	border-color: #45538c;
	border-width: 3px;
}

.saDash-subtitle {
	width: 85%;
	text-align:left;
	margin: 1% auto 0.6% auto;
	font-size: 20px;
	color: #200f80;
}

.saDash-p {
	width: 85%;
	text-align:left;
	margin: 0.5% auto 5% auto;
	font-size: 16px;
	color: #200f80;
}

.saDash-table {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	border-color: #45538c;
	border-width: 3px;
}

.saDash-table a{
	text-decoration: none;
}

.saDash-table td{
	padding-left: 0.2%;
	font-size: 14px;
}

.saDash-buttons {
	display: block;
	width: 92%;
	margin: 2% auto 2% 1%;
	justify-content: center;
}

#saDash-changeStatus {
	display: inline-block;
	width: 58%;
	padding: 3%;
	margin-right: 1.8%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

#saDash-changeStatus:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

#saDash-delete {
	display: inline-block;
	width: 38%;
	padding: 3%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

#saDash-delete:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}

/* ----------- support form -------------- */

























