
.sf-title{
	text-align:center;
	font-size: 30px;
	margin-bottom: 2%;
	color: #200f80;
}

.sf-table {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	margin-bottom: 5%;	
	border-color: #45538c;
	border-width: 3px;
}

.sf-table-label {
	width: 20%;
	padding: 2% 1%;
}

.sf-table-input {
	width: 80%;
	font-size: 18px;
	padding: 0.5%;
}

.sf-table-label p{
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
}

.sf-table-input select{
	width:98%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
	padding: 0.5%;
}

.sf-table-input input[type=text]{
	width:96%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
	color: #250eab;
	font-weight: 500;
	padding: 0.5%;
}

#btnSupForm {
	display: block;
	width: 17%;
	margin: 2% 2% 4% auto;	
	padding: 1%;
	background-color: #095699;	
	border: none;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}

#btnSupForm:hover {
	transition: all 0.3s ease;
	background-color: #2d72eb;
}
